__pycache__/
*.pyc
*.pyo
*.aux
*.log
*.out
*.pdf
*.png
*.bbl
*.blg
audit_*/

# Coq build artefacts
*.vo
*.vos
*.vok
*.glob

# OCaml build artefacts
*.cmi
*.cmx
*.o
coq/run_extracted
coq/verify_extracted.ml
coq/verify_extracted.mli
verify/verify_certificate
